tmp/
__pycache__/

objectgoal_hm3d/
scene_datasets/
versioned_data/
habitat-lab/

datasets/images/
datasets/temp/
datasets/objectnav/
datasets/result/

datasets_backup/

*.pyc
*.pth
*.bak
*.tar.gz

test.json